[submodule "Backend/Parallel/MPCS/proj1-wywy136"]
	path = Backend/Parallel/MPCS/proj1-wywy136
	url = https://github.com/mpcs52060-aut22/proj1-wywy136
[submodule "Backend/Parallel/MPCS/proj2-wywy136"]
	path = Backend/Parallel/MPCS/proj2-wywy136
	url = https://github.com/mpcs52060-aut22/project-2-wywy136
[submodule "Backend/Parallel/MPCS/proj3-wywy136"]
	path = Backend/Parallel/MPCS/proj3-wywy136
	url = https://github.com/wywy136/ParallelProject3
